In [12]:
import xml.etree.ElementTree as ET
import pandas as pandas
import numpy as numpy

In [13]:
import os
os.chdir("C:\\Users\\1595398\\Documents\\NAV Reporting\\Sample Reports\\XML\\")
Validations_Output = []

In [14]:
Net_Asset_Value_For_Fund = ET.parse('SDNAR022HK0287.XML')

# Extract information from Net Asset Value for Fund report. This is done by

- Creating a function called "extract_NAV_For_Fund(x) which parses the values in XML and creates 7 outputs A.Group - Group IDs 

    1. Account - Account IDs
    2. Description - Description lists of the securities
    3. Balance - Balance 
    4. Total - Total amount
    5. Net_Asset_Value - Net Asset Value as mentioned in the total summary
    6. Fund_CCY - Fund currency
    

- Call these functions and assign the output to 7 variables. These values will then be used to perform validation

In [15]:
def extract_NAV_For_Fund(x):
       
    Group = []
    for i in Net_Asset_Value_For_Fund.iter("REGR"):
        b = int(i.text)
        if b == 0:
            break
        else:
            b = b
        Group.append(b)
    
    Acc = []
    for i in Net_Asset_Value_For_Fund.iter('NRUBR'):
        b = int(i.text)
        Acc.append(b)
    Account = [a for a in Acc if a != 0]
    
    Description = []
    for i in Net_Asset_Value_For_Fund.iter('LIB_REGR'):
        b = i.text
        Description.append(b)
        
    Bal = []
    for i in Net_Asset_Value_For_Fund.iter('CF_SOLDE_DETAIL'):
        b = i.text
        if b == None:
            b = 0
        else:
            b
        Bal.append(b)
    Bal1 = [a for a in Bal if a != 0]
    Bala = []
    for r in range(0,len(Bal1)):
        x = Bal1[r].replace("(","-")
        Bala.append(x)
    Balance = []
    for i in range(0,len(Bala)):
        d = Bala[i]
        d = ''.join(e for e in d if e.isdigit() or e == '.' or e == "-")
        d = float(d)
        Balance.append(d)
    
    Tot = []
    for i in Net_Asset_Value_For_Fund.iter('CF_SOLDE_TOTAL'):
        b = i.text
        if b == None:
            b = 0
        else:
            b
        Tot.append(b)
    Tot1 = [a for a in Tot if a != 0]
    Tota = []
    for r in range(0,len(Tot1)):
        x = Tot1[r].replace("(","-")
        Tota.append(x)
    Total = []
    for i in range(0,len(Tota)):
        d = Tota[i]
        d = ''.join(e for e in d if e.isdigit() or e == '.' or e == "-")
        d = float(d)
        Total.append(d)
    
    Net_Asset_Value = Total[-1]
    
    Fund_CCY = []
    for i in Net_Asset_Value_For_Fund.iter('CMON'):
        b = i.text
        Fund_CCY.append(b)
    Fund_CCY = Fund_CCY[1]
        
    return Group, Account, Description, Balance, Total, Net_Asset_Value, Fund_CCY

In [16]:
Group, Account, Description, Balance, Total, Net_Asset_Value, Fund_CCY =  extract_NAV_For_Fund(Net_Asset_Value_For_Fund)

In [17]:
Balance

[261008854.88,
 22973869.49,
 -20681202.72,
 -7777305.78,
 9572064.6,
 321112.01,
 6403159.08,
 448157.62,
 -7095348.81,
 -10.0,
 -205578.15,
 -16254.99,
 -74138.61,
 -84.78,
 -60083.07,
 -126374.67,
 -297637.07,
 -42.42]

# Extract Information from Net Asset Value - Statement of Change report. This is done by
1. Extract NAV Statement of Change value 
2. Compare NAV Statement of change value with Net Asset Value

In [18]:
NAV_Statement_of_Change = ET.parse('SDNAV052HK0287.XML')

In [19]:
NAV_SoC = []
for i in NAV_Statement_of_Change.iter('CS_SOLDE_J_TOTAL'):
    b = float(i.text)
    NAV_SoC.append(b)
    
NAV_SoC_Per_Var = []
for i in NAV_Statement_of_Change.iter('CF_PC_DIF_JOURS'):
    b = float(i.text)
    NAV_SoC_Per_Var.append(b)
    
NAV_SoC_VarD = []
for i in NAV_Statement_of_Change.iter('CS_DIF_J'):
    b = float(i.text)
    NAV_SoC_VarD.append(b)

In [21]:
for i in NAV_SoC_Per_Var:
    if i>.05:
        print("There is 0.5% variance in Statement of Change report, Check cost price and selling  price")
        Validations_Output.append("There is 0.5% variance in Statement of Change report, Check cost price and selling  price")
    else:
        print("No variance in Statement of Change Report")
        Validations_Output.append("No variance in Statement of Change Report")

No variance in Statement of Change Report
No variance in Statement of Change Report
No variance in Statement of Change Report
No variance in Statement of Change Report
No variance in Statement of Change Report
No variance in Statement of Change Report
No variance in Statement of Change Report
No variance in Statement of Change Report
There is 0.5% variance in Statement of Change report, Check cost price and selling  price
No variance in Statement of Change Report
No variance in Statement of Change Report
No variance in Statement of Change Report
No variance in Statement of Change Report
There is 0.5% variance in Statement of Change report, Check cost price and selling  price
No variance in Statement of Change Report
No variance in Statement of Change Report
No variance in Statement of Change Report
No variance in Statement of Change Report
There is 0.5% variance in Statement of Change report, Check cost price and selling  price
There is 0.5% variance in Statement of Change report, Check cost price and selling  price
No variance in Statement of Change Report
There is 0.5% variance in Statement of Change report, Check cost price and selling  price
There is 0.5% variance in Statement of Change report, Check cost price and selling  price
There is 0.5% variance in Statement of Change report, Check cost price and selling  price
There is 0.5% variance in Statement of Change report, Check cost price and selling  price
No variance in Statement of Change Report
There is 0.5% variance in Statement of Change report, Check cost price and selling  price
There is 0.5% variance in Statement of Change report, Check cost price and selling  price
No variance in Statement of Change Report
No variance in Statement of Change Report
There is 0.5% variance in Statement of Change report, Check cost price and selling  price
No variance in Statement of Change Report
No variance in Statement of Change Report
No variance in Statement of Change Report
There is 0.5% variance in Statement of Change report, Check cost price and selling  price
No variance in Statement of Change Report
No variance in Statement of Change Report
No variance in Statement of Change Report
There is 0.5% variance in Statement of Change report, Check cost price and selling  price

In [22]:
if NAV_SoC[0] == Net_Asset_Value:
    print("NAV matched between NAV FOR FUND report and NAV Statement of Change report")
    Validations_Output.append("NAV matched between NAV FOR FUND report and NAV Statement of Change report")
else:
    print("Amount Mismatch : NAV mis match between NAV FOR FUND report and NAV Statement of Change report")
    Validations_Output.append("Amount Mismatch : NAV mis match between NAV FOR FUND report and NAV Statement of Change report")
mismatch=Net_Asset_Value-NAV_SoC[0]
print("Mismatch = ", Fund_CCY,round(mismatch,2))

NAV matched between NAV FOR FUND report and NAV Statement of Change report
Mismatch =  HKD 0.0

In [23]:
NAV_SoC_VarD[2]

-265.43

In [24]:
Validations_Output

['No variance in Statement of Change Report',
 'No variance in Statement of Change Report',
 'No variance in Statement of Change Report',
 'No variance in Statement of Change Report',
 'No variance in Statement of Change Report',
 'No variance in Statement of Change Report',
 'No variance in Statement of Change Report',
 'No variance in Statement of Change Report',
 'There is 0.5% variance in Statement of Change report, Check cost price and selling  price',
 'No variance in Statement of Change Report',
 'No variance in Statement of Change Report',
 'No variance in Statement of Change Report',
 'No variance in Statement of Change Report',
 'There is 0.5% variance in Statement of Change report, Check cost price and selling  price',
 'No variance in Statement of Change Report',
 'No variance in Statement of Change Report',
 'No variance in Statement of Change Report',
 'No variance in Statement of Change Report',
 'There is 0.5% variance in Statement of Change report, Check cost price and selling  price',
 'There is 0.5% variance in Statement of Change report, Check cost price and selling  price',
 'No variance in Statement of Change Report',
 'There is 0.5% variance in Statement of Change report, Check cost price and selling  price',
 'There is 0.5% variance in Statement of Change report, Check cost price and selling  price',
 'There is 0.5% variance in Statement of Change report, Check cost price and selling  price',
 'There is 0.5% variance in Statement of Change report, Check cost price and selling  price',
 'No variance in Statement of Change Report',
 'There is 0.5% variance in Statement of Change report, Check cost price and selling  price',
 'There is 0.5% variance in Statement of Change report, Check cost price and selling  price',
 'No variance in Statement of Change Report',
 'No variance in Statement of Change Report',
 'There is 0.5% variance in Statement of Change report, Check cost price and selling  price',
 'No variance in Statement of Change Report',
 'No variance in Statement of Change Report',
 'No variance in Statement of Change Report',
 'There is 0.5% variance in Statement of Change report, Check cost price and selling  price',
 'No variance in Statement of Change Report',
 'No variance in Statement of Change Report',
 'No variance in Statement of Change Report',
 'There is 0.5% variance in Statement of Change report, Check cost price and selling  price',
 'NAV matched between NAV FOR FUND report and NAV Statement of Change report']

# Extract Information from Net Asset Value for fund. This is done by
- Extract NAV for Fund-Fund Expense Accruals
    1. INVESTMENT - EQUITIES - Total
    2. Investment - Equities - Balance
    3. Prov Unr P/L - Equities - Balance
    4. ACCRUED INCOME - Total
    5. Prov Unr FX P/L - Interest - Total
    6. CASH ASSET - Total
    7. Cash in Bank - Balance
    8. Broker-ICBC - Balance
    9. ACCRUED INCOME - Total
    10. Int Accrual - Cash Account - Balance
    11. PREPAID EXPENSE - Total
    12. Prepaid Expenses - Balance
    13. REDEMPTION PAYABLES - Total
    14. Payables on Redemption - Balance
    15. EXPENSE ACCRUALS - Total
    16. Exp Accrual - Audit Fee - Balance
    17. Exp Accrual - Custody Fee - Balance
    18. Exp Accrual - Redemption Fee - Balance
    19. Exp Accrual - Listing Expenses - Balance
    20. Exp Accrual - Publication Fee - Balance
    21. Exp Accrual - Management Fee - Balance in NAV_for_Fund_Exp_Accrls
    22. Splitting into each data point
    
- Storing NAV for Fund Accrual data in different varialbles
    1. NAV_for_Fund_Exp_Accrls as NAV_for_Fund_Exp_Accrls_Audit_Fee 
    2. NAV_for_Fund_Exp_Accrls as NAV_for_Fund_Exp_Accrls_Custody_Fee
    3. NAV_for_Fund_Exp_Accrls as NAV_for_Fund_Exp_Accrls_Redemption_Fee
    4. NAV_for_Fund_Exp_Accrls as NAV_for_Fund_Exp_Accrls_Listing_Exp
    5. NAV_for_Fund_Exp_Accrls as NAV_for_Fund_Exp_Accrls_Publication_Fee
    6. NAV_for_Fund_Exp_Accrls as NAV_for_Fund_Exp_Accrls_Management_Fee

In [25]:
NAV_for_Fund_Exp_Accrls = []
for i in Net_Asset_Value_For_Fund.iter('MSOLDE_FM'):
    b = float(i.text)
    NAV_for_Fund_Exp_Accrls.append(b)

In [26]:
NAV_for_Fund_Exp_Accrls

[255524215.87,
 261008854.88,
 22973869.49,
 -20681202.72,
 -7777305.78,
 9572064.6,
 9572064.6,
 321112.01,
 321112.01,
 6403159.08,
 6403159.08,
 448157.62,
 448157.62,
 -7095348.81,
 -7095348.81,
 -10.0,
 -10.0,
 -780193.76,
 -205578.15,
 -16254.99,
 -74138.61,
 -84.78,
 -60083.07,
 -126374.67,
 -297637.07,
 -42.42,
 264393156.61,
 264393156.59]

In [27]:
NAV_for_Fund_Exp_Accrls_Audit_Fee=NAV_for_Fund_Exp_Accrls[18]
NAV_for_Fund_Exp_Accrls_Custody_Fee=NAV_for_Fund_Exp_Accrls[19]
NAV_for_Fund_Exp_Accrls_Reporting_Fee=NAV_for_Fund_Exp_Accrls[20]
NAV_for_Fund_Exp_Accrls_Transfer_Agt_Fee=NAV_for_Fund_Exp_Accrls[21]
NAV_for_Fund_Exp_Accrls_Trustee_Fee=NAV_for_Fund_Exp_Accrls[22]
NAV_for_Fund_Exp_Accrls_Management_Fee_Class_A=NAV_for_Fund_Exp_Accrls[23]
NAV_for_Fund_Exp_Accrls_Management_Fee_Class_B=NAV_for_Fund_Exp_Accrls[24]
NAV_for_Fund_Exp_Accrls_RL_Perform_Fee=NAV_for_Fund_Exp_Accrls[25]

In [28]:
import pandas as pandas

In [29]:
NAV_for_Fund_Exp_Accrls_Custody_Fee

-16254.99

# Extract Information from Net Asset Value - Portfolio Valuation. This is done by

1.Extract following data from Portfolio Valuation 
    1. Broker-ICBC ICBC - Balance - CNY
    2. Broker-ICBC ICBC - Balance - HKD
    3. Cash in Bank STANDARD CHARTERED BANK (HONG KONG) LTD - Balance - HKD
    4. Broker-ICBC ICBC - Balance - USD
    5. Cash in Bank STANDARD CHARTERED BANK (HONG KONG) LTD - Balance - USD
    6. Exp Accrual - Management Fee - Balance
    7. Cash in Bank - Balance
    8. Exp Accrual - Audit Fee - Balance
    9. Exp Accrual - Custody Fee - Balance
    10. Exp Accrual - Listing Expenses - Balance
    11. Exp Accrual - Publication Fee - Balance
    12. Exp Accrual - Redemption Fee - Balance
    13. Int Accrual - Cash Account - Balance
    14. Payables on Redemption - Balance
    15. Prepaid Expenses - Balance
    16. Prov Unr FX P/L - Interest - Balance

In [30]:
NAV_Portfolio_Valuation = ET.parse('SDPOR072HK0287.XML')

In [31]:
NAV_Portfolio_Valuation_Total = []
for i in NAV_Portfolio_Valuation.iter('CS_TOT_COST_PTF'):
    b = float(i.text)
    NAV_Portfolio_Valuation_Total.append(b)

NAV_Portfolio_Valuation_Total_Cost = []
for i in NAV_Portfolio_Valuation.iter('CS_TOT_MKT_PTF_SEC3'):
    b = float(i.text)
    NAV_Portfolio_Valuation_Total_Cost.append(b)

NAV_Portfolio_Valuation_Exp_Accrls = []
for i in NAV_Portfolio_Valuation.iter('CS_TOT_COST_REF_SEC3'):
    b = float(i.text)
    NAV_Portfolio_Valuation_Exp_Accrls.append(b)

NAV_Portfolio_Valuation_Balance  = []
for i in NAV_Portfolio_Valuation.iter('BAL_CCY_SEC3'):
    b = float(i.text)
    NAV_Portfolio_Valuation_Balance.append(b)
    
NAV_Portfolio_Valuation_Cost_in_Fund  = []
for i in NAV_Portfolio_Valuation.iter('TOT_COST_PTF_SEC3'):
    b = float(i.text)
    NAV_Portfolio_Valuation_Cost_in_Fund.append(b)
    
NAV_Portfolio_Valuation_Market_Value_in_Fund  = []
for i in NAV_Portfolio_Valuation.iter('MKT_VALUE_PTF_SEC3'):
    b = float(i.text)
    NAV_Portfolio_Valuation_Market_Value_in_Fund.append(b)

NAV_Portfolio_Valuation_Value_Ref  = []
for i in NAV_Portfolio_Valuation.iter('VALUE_REF_SEC3'):
    b = i.text
    NAV_Portfolio_Valuation_Value_Ref.append(b)
    
NAV_Portfolio_Valuation_Accrued_Interest = []
for i in NAV_Portfolio_Valuation.iter('INT_CCY_SEC3'):
    b = i.text
    NAV_Portfolio_Valuation_Accrued_Interest.append(b)

NAV_Portfolio_Valuation_Total_Cost_Fund_Ccy = []
for i in NAV_Portfolio_Valuation.iter('CS_TOT_MKT_PTF_SEC3'):
    b = float(i.text)
    NAV_Portfolio_Valuation_Total_Cost_Fund_Ccy.append(b)
    
NAV_Portfolio_Valuation_Total_Investment = []
for i in NAV_Portfolio_Valuation.iter('CS_TOT_COST_PTF_REP'):
    b = float(i.text)
    NAV_Portfolio_Valuation_Total_Investment.append(b)

In [32]:
NAV_Portfolio_Valuation_Total_Investment

[283982724.37]

In [33]:
NAV_Portfolio_Valuation_Markt_Value_Management_Fee_Class_A=NAV_Portfolio_Valuation_Market_Value_in_Fund[3]
NAV_Portfolio_Valuation_Markt_Value_Management_Fee_Class_B=NAV_Portfolio_Valuation_Market_Value_in_Fund[4]
NAV_Portfolio_Valuation_Markt_Value_RL_Perform_Fee=NAV_Portfolio_Valuation_Market_Value_in_Fund[5]
NAV_Portfolio_Valuation_Markt_Value_Acc_Audit_Fee=NAV_Portfolio_Valuation_Market_Value_in_Fund[6]
NAV_Portfolio_Valuation_Markt_Value_Acc_Reporting_Fee=NAV_Portfolio_Valuation_Market_Value_in_Fund[7]
NAV_Portfolio_Valuation_Markt_Value_Acc_transfer_Agt_Fee=NAV_Portfolio_Valuation_Market_Value_in_Fund[8]
NAV_Portfolio_Valuation_Markt_Value_Acc_trustee_Fee=NAV_Portfolio_Valuation_Market_Value_in_Fund[9]
NAV_Portfolio_Valuation_Markt_Value_Acc_Custody_Fee=NAV_Portfolio_Valuation_Market_Value_in_Fund[10]
NAV_Portfolio_Valuation_Total_Cost_Fund_Ccy_Cash_at_Bank=NAV_Portfolio_Valuation_Total_Cost_Fund_Ccy[0]
NAV_Portfolio_Valuation_Total_Cost_Fund_Ccy_Pre_Exp=NAV_Portfolio_Valuation_Cost_in_Fund[17]
NAV_Portfolio_Valuation_Total_Cost_Fund_Ccy_Receivalbles=NAV_Portfolio_Valuation_Total_Cost_Fund_Ccy[5]
NAV_Portfolio_Valuation_Total_Cost_Fund_Ccy_Payables=NAV_Portfolio_Valuation_Total_Cost_Fund_Ccy[4]

In [34]:
NAV_Portfolio_Valuation_Total_Cost

[9572064.6, -424011.74, -42.42, -356139.6, -7095358.81, 6851316.7, 321112.01]

# Validation between NAV for Fund with Portfolio Valuation

In [35]:
if NAV_for_Fund_Exp_Accrls_Audit_Fee == NAV_Portfolio_Valuation_Markt_Value_Acc_Audit_Fee:
    print("Accrl-Audit Fee matched between NAV FOR FUND and NAV Portfolio Valuation")
    Validations_Output.append("Accrl-Audit Fee matched between NAV FOR FUND and NAV Portfolio Valuation")
else:
    print("Amount Mismatch : Accrl-Audit Fee mismatch between NAV FOR FUND and NAV Portfolio Valuation")
    Validations_Output.append("Amount Mismatch : Accrl-Audit Fee mismatch between NAV FOR FUND and NAV Portfolio Valuation")

Accrl-Audit Fee matched between NAV FOR FUND and NAV Portfolio Valuation

In [36]:
if NAV_for_Fund_Exp_Accrls_Custody_Fee == NAV_Portfolio_Valuation_Markt_Value_Acc_Custody_Fee:
    print("Accrl-Custody Fee matched between NAV FOR FUND and NAV Portfolio Valuation")
    Validations_Output.append("Accrl-Custody Fee matched between NAV FOR FUND and NAV Portfolio Valuation")
else:
    print("Amount Mismatch : Accrl-Custody Fee mismatch between NAV FOR FUND and NAV Portfolio Valuation")
    Validations_Output.append("Amount Mismatch : Accrl-Custody Fee mismatch between NAV FOR FUND and NAV Portfolio Valuation")

Accrl-Custody Fee matched between NAV FOR FUND and NAV Portfolio Valuation

In [37]:
if NAV_for_Fund_Exp_Accrls_Reporting_Fee == NAV_Portfolio_Valuation_Markt_Value_Acc_Reporting_Fee:
    print("Reporting Fee matched between NAV FOR FUND and NAV Portfolio Valuation")
    Validations_Output.append("Reporting Fee matched between NAV FOR FUND and NAV Portfolio Valuation")
else:
    print("Redemption Mismatch between NAV FOR FUND and NAV Portfolio Valuation")
    Validations_Output.append("Redemption Mismatch between NAV FOR FUND and NAV Portfolio Valuation")

Reporting Fee matched between NAV FOR FUND and NAV Portfolio Valuation

In [38]:
if NAV_for_Fund_Exp_Accrls_Transfer_Agt_Fee == NAV_Portfolio_Valuation_Markt_Value_Acc_transfer_Agt_Fee:
    print("Transfer Agt Fee matched between NAV FOR FUND and NAV Portfolio Valuation")
    Validations_Output.append("Transfer Agt Fee matched between NAV FOR FUND and NAV Portfolio Valuation")
else:
    print("Transfer Agt Fee Mismatch between NAV FOR FUND and NAV Portfolio Valuation")
    Validations_Output.append("Transfer Agt Fee Mismatch between NAV FOR FUND and NAV Portfolio Valuation")

Transfer Agt Fee matched between NAV FOR FUND and NAV Portfolio Valuation

In [39]:
if NAV_for_Fund_Exp_Accrls_Trustee_Fee == NAV_Portfolio_Valuation_Markt_Value_Acc_trustee_Fee:
    print("Trustee Fee matched between NAV FOR FUND and NAV Portfolio Valuation")
    Validations_Output.append("Trustee Fee matched between NAV FOR FUND and NAV Portfolio Valuation")
else:
    print("Trustee Fee Mismatch between NAV FOR FUND and NAV Portfolio Valuation")
    Validations_Output.append("Trustee Fee Mismatch between NAV FOR FUND and NAV Portfolio Valuation")

Trustee Fee matched between NAV FOR FUND and NAV Portfolio Valuation

In [40]:
if NAV_for_Fund_Exp_Accrls_Management_Fee_Class_A == NAV_Portfolio_Valuation_Markt_Value_Management_Fee_Class_A:
    print("Management Fee Class A matched between NAV FOR FUND and NAV Portfolio Valuation")
    Validations_Output.append("Management Fee Class A matched between NAV FOR FUND and NAV Portfolio Valuation")
else:
    print("Management Fee Class A mismatch mismatch between NAV FOR FUND and NAV Portfolio Valuation")
    Validations_Output.append("Management Fee Class A mismatch mismatch between NAV FOR FUND and NAV Portfolio Valuation")

Management Fee Class A matched between NAV FOR FUND and NAV Portfolio Valuation

In [41]:
if NAV_for_Fund_Exp_Accrls_Management_Fee_Class_B == NAV_Portfolio_Valuation_Markt_Value_Management_Fee_Class_B:
    print("Management Fee Class B matched between NAV FOR FUND and NAV Portfolio Valuation")
    Validations_Output.append("Management Fee Class B matched between NAV FOR FUND and NAV Portfolio Valuation")
else:
    print("Management Fee Class B mismatch between NAV FOR FUND and NAV Portfolio Valuation")
    Validations_Output.append("Management Fee Class B mismatch between NAV FOR FUND and NAV Portfolio Valuation")

Management Fee Class B matched between NAV FOR FUND and NAV Portfolio Valuation

In [42]:
if NAV_for_Fund_Exp_Accrls_RL_Perform_Fee == NAV_Portfolio_Valuation_Markt_Value_RL_Perform_Fee:
    print("RL perform Fee matched between NAV FOR FUND and NAV Portfolio Valuation")
    Validations_Output.append("RL perform Fee matched between NAV FOR FUND and NAV Portfolio Valuation")
else:
    print("RL perform Fee mismatch: between NAV FOR FUND and NAV Portfolio Valuation")
    Validations_Output.append("RL perform Fee mismatch between NAV FOR FUND and NAV Portfolio Valuation")

RL perform Fee matched between NAV FOR FUND and NAV Portfolio Valuation

# Extraction of General Ledger Trial Balance

In [43]:
NAV_GL_TB = ET.parse('SHJNA102HK0287.XML')

In [44]:
GL_TB_Acc = []
for i in NAV_GL_TB.iter('BNRUBR'):
    b = int(i.text)
    GL_TB_Acc.append(b)
    
GL_TB_Cry = []
for i in NAV_GL_TB.iter('ACMON'):
    b = (i.text)
    GL_TB_Cry.append(b)

GL_TB_Acc_Bal = []
for i in NAV_GL_TB.iter('CF_ABAL'):
    b = float(i.text)
    GL_TB_Acc_Bal.append(b)

GL_TB_Acc_Fund = []
for i in NAV_GL_TB.iter('CF_CBAL'):
    b = float(i.text)
    GL_TB_Acc_Fund.append(b)

GL_TB_Acc_Ttl_Asset_Liab = []
for i in NAV_GL_TB.iter('CP_TOTAL_SDNAR02'):
    b = float(i.text)
    GL_TB_Acc_Ttl_Asset_Liab.append(b)

GL_TB_Acc_Ttl_Cap_PL = []
for i in NAV_GL_TB.iter('CP_TOTAL_SDNAV05'):
    b = float(i.text)
    GL_TB_Acc_Ttl_Cap_PL.append(b)

GL_TB_Acc_Closing_Balance = []
for i in NAV_GL_TB.iter('CF_TOTALBALANCE'):
    b = float(i.text)
    GL_TB_Acc_Closing_Balance.append(b)
    
    
GL_TB_Acc_Total_Assests_Liab = []
for i in NAV_GL_TB.iter('CP_TOTAL_SDNAR02'):
    b = float(i.text)
    GL_TB_Acc_Total_Assests_Liab.append(b)

# Validation of General Ledger Trial Balance

In [45]:
D = (pandas.DataFrame(GL_TB_Acc))
D["Currency"] = pandas.DataFrame(GL_TB_Cry)

In [46]:
D.head()

        0 Currency
0  101100      HKD
1  101130      HKD
2  120121      HKD
3  132100      HKD
4  132150      HKD

In [47]:
Array = D.loc[(D[0]>400000) & (D[0]<600000)]

In [48]:
if (((Array.loc[(Array["Currency"]!=Fund_CCY)]).count())[0] == 0):
    print("No Exceptions found")
    Validations_Output.append("No Exceptions Found between GL Trial Balance and Fund Currency")
else:
    print("Exceptions found")
    Validations_Output.append("Exceptions Found between GL Trial Balance and Fund Currency")

No Exceptions found

In [49]:
if GL_TB_Acc_Closing_Balance[0] < 1:
    print("No Exceptions found - Closing Balance is zero")
    Validations_Output.append("No Exceptions Found between GL Trial Balance Closing Balance is Zero")
else:
    print("Exceptions found")
    Validations_Output.append("Exceptions Found between GL Trial Balance Closing Balance")

No Exceptions found - Closing Balance is zero

In [50]:
Net_Asset_Value

264393156.59

In [51]:
Check=GL_TB_Acc_Total_Assests_Liab[0] - Net_Asset_Value
if Check < 1:
    print("No Exceptions found - NAV is equal to Total Assets & Liabilities")
    Validations_Output.append("No Exceptions Found NAV is equal to Total Assets & Liabilities")
else: 
    print("Exceptions found - NAV mismatch with Total Assets & Liabilities")
    Validations_Output.append("Exceptions Found - NAV mismatch with Total Assets & Liabilities")

No Exceptions found - NAV is equal to Total Assets & Liabilities

In [52]:
Array

         0 Currency
26  411100      HKD
27  411130      HKD
28  421100      HKD
29  421130      HKD
30  431100      HKD
31  431130      HKD
32  441100      HKD
33  441130      HKD
34  444444      HKD
35  451100      HKD
36  452220      HKD
37  460000      HKD
38  511100      HKD
39  511130      HKD
40  521100      HKD
41  521130      HKD
42  527100      HKD
43  553105      HKD
44  553107      HKD
45  553121      HKD
46  553125      HKD
47  553129      HKD
48  553130      HKD
49  553131      HKD
50  553133      HKD
51  553141      HKD
52  553160      HKD
53  553180      HKD
54  553443      HKD
55  553444      HKD
56  555101      HKD
57  555102      HKD
58  555201      HKD
59  555555      HKD

# Extraction and Validation of Dividend Receivable Report

In [53]:
NAV_DRR = ET.parse('SDCOU042HK0287.XML')

In [54]:
NAV_DRR_Security_Name = []
for i in NAV_DRR.iter('NOMVAL'):
    b = i.text
    NAV_DRR_Security_Name.append(b)

In [55]:
Leng = len(NAV_DRR_Security_Name)
for i in range(0,Leng):
    if i == None:
        print("No Exception Found in Dividend Receivable Report")
        Validations_Output.append("No Exceptions Found in Dividend Receivable Report")
    else:
        print("Check No of shares are correct with Bloomberg report")
        Validations_Output.append("Check No of shares are correct with Bloomberg report")

Check No of shares are correct with Bloomberg report
Check No of shares are correct with Bloomberg report
Check No of shares are correct with Bloomberg report
Check No of shares are correct with Bloomberg report
Check No of shares are correct with Bloomberg report
Check No of shares are correct with Bloomberg report
Check No of shares are correct with Bloomberg report
Check No of shares are correct with Bloomberg report
Check No of shares are correct with Bloomberg report

# Extraction and Validation of Realised Gain and Loss Report

In [56]:
NAV_VRGLR = ET.parse('SDPOR092HK0287.XML')

In [57]:
NAV_VRGLR_FXGL = []
for i in NAV_VRGLR.iter('SUMGAIN_PERTE_TCHGPERREPORT'):
    b = float(i.text)
    NAV_VRGLR_FXGL.append(b)

In [58]:
if NAV_VRGLR_FXGL[0]==NAV_SoC_VarD[2]:
    print("No Expections between Realised gain and loss report")
    Validations_Output.append("No Expections between Realised gain and loss report")
else:
    print("There is a difference in Realized FX loss")
    Validations_Output.append("There is a difference in Realized FX loss")

No Expections between Realised gain and loss report

# Extraction from Balance Sheet & Profit &  Loss Account

This is done by
Extract following data from Balance Sheet & Profit & Loss Account 
    1. Assets
    2. Liabilities

In [59]:
BSheet_Profit_Loss = ET.parse('SHJNA112HK0287.XML')

In [60]:
BSheet_Profit_Loss_Accnt_Assets  = []
for i in BSheet_Profit_Loss.iter('CF_DEBIT_BAL'):
    d1 = i.text
    if d1 == None:
        d1 = 0
        b = (d1)
        
    else:
        b = float(d1)
    BSheet_Profit_Loss_Accnt_Assets.append(b)
    
BSheet_Profit_Loss_Accnt_Liabilities  = []
for i in BSheet_Profit_Loss.iter('CF_CREDIT_BAL'):
    d1 = i.text
    if d1 == None:
        d1 = 0
        b = (d1)
        
    else:
        b = float(d1)
    BSheet_Profit_Loss_Accnt_Liabilities.append(b)

In [61]:
BSheet_Profit_Loss_Accnt_Assets_Cost_Equities=BSheet_Profit_Loss_Accnt_Assets[0]
BSheet_Profit_Loss_Accnt_Assets_Prepaid_Expenses=BSheet_Profit_Loss_Accnt_Assets[1]
BSheet_Profit_Loss_Accnt_Assets_Receivables=BSheet_Profit_Loss_Accnt_Assets[2]
BSheet_Profit_Loss_Accnt_Assets_Cash_at_Bank=BSheet_Profit_Loss_Accnt_Assets[3]
BSheet_Profit_Loss_Accnt_Liabilities_Payables=BSheet_Profit_Loss_Accnt_Liabilities[5]

# Validation of Balance Sheet & Profit &  Loss Account

In [62]:
if NAV_Portfolio_Valuation_Total_Investment[0] == BSheet_Profit_Loss_Accnt_Assets_Cost_Equities:
    print("Cost equities matched between NAV Portfolio Valuation and BSheet and Profit and Loss Account")
    Validations_Output.append("Cost equities matched between NAV Portfolio Valuation and BSheet and Profit and Loss Account")
else:
    print("Cost equities mis match between NAV Portfolio Valuation and BSheet and Profit and Loss Account")
    Validations_Output.append("Cost equities mis match between NAV Portfolio Valuation and BSheet and Profit and Loss Account")

Cost equities matched between NAV Portfolio Valuation and BSheet and Profit and Loss Account

In [63]:
if NAV_Portfolio_Valuation_Total_Cost_Fund_Ccy_Cash_at_Bank == BSheet_Profit_Loss_Accnt_Assets_Cash_at_Bank:
    print("Cash at Bank matched between NAV Portfolio Valuation and BSheet and Profit and Loss Account")
    Validations_Output.append("Cash at Bank matched between NAV Portfolio Valuation and BSheet and Profit and Loss Account")
else:
    print("Cash at Bank mismatch between NAV Portfolio Valuation and BSheet and Profit and Loss Account")
    Validations_Output.append("Cash at Bank mismatch between NAV Portfolio Valuation and BSheet and Profit and Loss Account")

Cash at Bank matched between NAV Portfolio Valuation and BSheet and Profit and Loss Account

In [64]:
if NAV_Portfolio_Valuation_Total_Cost_Fund_Ccy_Pre_Exp == BSheet_Profit_Loss_Accnt_Assets_Prepaid_Expenses:
    print("Prepaid Expenses matched between NAV Portfolio Valuation and BSheet and Profit and Loss Account")
    Validations_Output.append("Prepaid Expenses matched between NAV Portfolio Valuation and BSheet and Profit and Loss Account")
else:
    print("Prepaid Expenses mismatch between NAV Portfolio Valuation and BSheet and Profit and Loss Account")
    Validations_Output.append("Prepaid Expenses mismatch between NAV Portfolio Valuation and BSheet and Profit and Loss Account")

Prepaid Expenses matched between NAV Portfolio Valuation and BSheet and Profit and Loss Account

In [65]:
if NAV_Portfolio_Valuation_Total_Cost_Fund_Ccy_Receivalbles == BSheet_Profit_Loss_Accnt_Assets_Receivables:
    print("Receivables matched between NAV Portfolio Valuation and BSheet and Profit and Loss Account")
    Validations_Output.append("Receivables matched between NAV Portfolio Valuation and BSheet and Profit and Loss Account")
else:
    print("Receivables mismatch between NAV Portfolio Valuation and BSheet and Profit and Loss Account")
    Validations_Output.append("Receivables mismatch between NAV Portfolio Valuation and BSheet and Profit and Loss Account")

Receivables matched between NAV Portfolio Valuation and BSheet and Profit and Loss Account

In [66]:
if NAV_Portfolio_Valuation_Total_Cost_Fund_Ccy_Payables == BSheet_Profit_Loss_Accnt_Liabilities_Payables:
    print("Payables matched between NAV Portfolio Valuation and BSheet and Profit and Loss Account")
    Validations_Output.append("Payables matched between NAV Portfolio Valuation and BSheet and Profit and Loss Account")
else:
    print("Payables mismatch between NAV Portfolio Valuation and BSheet and Profit and Loss Account")
    Validations_Output.append("Payables mismatch between NAV Portfolio Valuation and BSheet and Profit and Loss Account")

Payables matched between NAV Portfolio Valuation and BSheet and Profit and Loss Account

In [67]:
Validations_Output = pandas.DataFrame(Validations_Output)

In [68]:
Validations_Output = Validations_Output.rename(columns = {0 : "Results"})

In [69]:
Validations_Output.to_csv("Validations_Output287.csv", index = False)

In [71]:
Validations_Output

                                              Results
0           No variance in Statement of Change Report
1           No variance in Statement of Change Report
2           No variance in Statement of Change Report
3           No variance in Statement of Change Report
4           No variance in Statement of Change Report
5           No variance in Statement of Change Report
6           No variance in Statement of Change Report
7           No variance in Statement of Change Report
8   There is 0.5% variance in Statement of Change ...
9           No variance in Statement of Change Report
10          No variance in Statement of Change Report
11          No variance in Statement of Change Report
12          No variance in Statement of Change Report
13  There is 0.5% variance in Statement of Change ...
14          No variance in Statement of Change Report
15          No variance in Statement of Change Report
16          No variance in Statement of Change Report
17          No variance in Statement of Change Report
18  There is 0.5% variance in Statement of Change ...
19  There is 0.5% variance in Statement of Change ...
20          No variance in Statement of Change Report
21  There is 0.5% variance in Statement of Change ...
22  There is 0.5% variance in Statement of Change ...
23  There is 0.5% variance in Statement of Change ...
24  There is 0.5% variance in Statement of Change ...
25          No variance in Statement of Change Report
26  There is 0.5% variance in Statement of Change ...
27  There is 0.5% variance in Statement of Change ...
28          No variance in Statement of Change Report
29          No variance in Statement of Change Report
..                                                ...
36          No variance in Statement of Change Report
37          No variance in Statement of Change Report
38  There is 0.5% variance in Statement of Change ...
39  NAV matched between NAV FOR FUND report and NA...
40  Accrl-Audit Fee matched between NAV FOR FUND a...
41  Accrl-Custody Fee matched between NAV FOR FUND...
42  Reporting Fee matched between NAV FOR FUND and...
43  Transfer Agt Fee matched between NAV FOR FUND ...
44  Trustee Fee matched between NAV FOR FUND and N...
45  Management Fee Class A matched between NAV FOR...
46  Management Fee Class B matched between NAV FOR...
47  RL perform Fee matched between NAV FOR FUND an...
48  No Exceptions Found between GL Trial Balance a...
49  No Exceptions Found between GL Trial Balance C...
50  No Exceptions Found NAV is equal to Total Asse...
51  Check No of shares are correct with Bloomberg ...
52  Check No of shares are correct with Bloomberg ...
53  Check No of shares are correct with Bloomberg ...
54  Check No of shares are correct with Bloomberg ...
55  Check No of shares are correct with Bloomberg ...
56  Check No of shares are correct with Bloomberg ...
57  Check No of shares are correct with Bloomberg ...
58  Check No of shares are correct with Bloomberg ...
59  Check No of shares are correct with Bloomberg ...
60  No Expections between Realised gain and loss r...
61  Cost equities matched between NAV Portfolio Va...
62  Cash at Bank matched between NAV Portfolio Val...
63  Prepaid Expenses matched between NAV Portfolio...
64  Receivables matched between NAV Portfolio Valu...
65  Payables matched between NAV Portfolio Valuati...

[66 rows x 1 columns]